@font-face { 
    font-family: "AvenirBookOblique";
    src: url("../fonts/AvenirBookOblique/AvenirBookOblique.eot");
    src: url("../fonts/AvenirBookOblique/AvenirBookOblique.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AvenirBookOblique/AvenirBookOblique.woff") format("woff"),
    url("../fonts/AvenirBookOblique/AvenirBookOblique.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


html{
    width: auto;
}


.header {
display: flex;
max-width: 1469px;
padding: 62px 0;
background: #FFFFFF;
@import url(//db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light);


.container {
margin: 0 auto;
display: flex;
    padding: 0 60px 0 60px;
    justify-content: space-between;
}

    .nav-1, .nav-2 {
display: flex;
justify-content: space-between;
align-items: center;

    }

a {
color: black;
    margin: 0 39px 0 0;
    text-decoration: none ;
    font-family: 'Freehand', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
font-weight: 800;
font-size: 20px;
line-height: 27px;


}
a:hover {
    color: #C08D5D;
}

.logo-space {
    padding: 0 98px 0 98px;
}
}




.main {
width:  100%;
  .background-color {
    background-color: #FFFAF3;
display: block;
    padding-top: 78px ;
height: 500px;
// width: 100%;
margin-left: 45px;
margin-right: 50px;
}
.title-1, .title-2 {
        margin-left: 180px;
    }

.title-1 {
    font-family: 'Freehand', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 67px;
}



.logo-main-png {
position: absolute;
    width: 45px;
    margin-top:-72px;
    margin-left: 308px;
}



.title-2 {
    font-family: 'Freehand', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-style: normal;
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 93px;


}

.Vector-png {
    padding-left: 184px;
    }

.subtitle {
    font-family: 'Freehand', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 147%;
   color:  #3F4042;
   padding-top: 25px;
   padding-left: 184px;
   max-width: 535px;
   max-height: 108px;
}

.serch {
    position: absolute;
    width: 138px auto;
    height: 64px auto;
    border: 2px solid #C08D5D;
    margin: 72px 184px;
    border-right: 59px solid #C08D5D;;

.text {
    padding: 17px 15px;

}

}

.vines {
position: relative;
margin-left: 650px;
margin-top: -40%;
padding-top: 0%;


    .vines-png {
        position: absolute;
        height: auto;
        width: 100%;
        max-width: 720px;  
          }
}


.down {
position: absolute;
filter: blur(50px);
width: auto;
height: 128px;
margin-top: 0px;
background: rgba(192, 141, 93, 0.2);
filter: blur(50px);



}
}




